@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #222753;
  --color-navy: #222753;
  --color-gold: #ffda00;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-navy: #222753;
  --color-gold: #ffda00;
  --font-sans: var(--font-poppins);
}

body {
  background: var(--background);
  color: var(--foreground);
}
